.cache
*.so
*.dll
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example
build
conanfile.lock
thirdparty/openssl/
thirdparty/libffi-3.5.2/
thirdparty/asmjit/
test.nari
workspace/

esp_idf_project/main/bad_apple_frames/
npkg-frontend/web/node_modules/

result*